html, body {
  margin: 0;
  width: 100%;
}

.barra {
  position: fixed;
  top: 0px;
  background: #2c3e50;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

.container {
  width: 80%;
  margin: auto;
}

.titulo {
  float: left;
  margin-top: 15px;
}

.titulo-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 110%;
}

.menu {
  float: right;
}

.menu-list {
  margin-top: 15px;
}

.menu-item {
  display: inline-block;
  list-style: none;
  margin: 0px 5px;
}

.menu-link {
  color: #fff;
  text-decoration: none;
  font-size: 80%;
  font-weight: bold;
}

.perfil {
  background: #18bc9c;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  color: #fff;
}

.avatar {
  width: auto;
  display: flex;
  vertical-align: middle;
}

.avatar-img {
  margin: auto;
}

.titulo-central {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 300%;
  text-align: center;
  font-weight: 700;
}

.linea-estrella {
      margin: 25px 30%;
      border: none;
      border: solid 3px;
}

.subtitulo-central {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 110%;
}

.subtitulo-section {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 200%;
  text-align: center;
  font-weight: 700;
  margin: 30px auto 10px;
}

.portfolio{
  padding: 50px 0;
}
.images-portfolio{
  display: inline-block;
  width: 30%;
  margin: auto;
  padding: 5px;
}
.fila {
display: block;
width: 100%;
padding-top: 5px;
padding-bottom: 5px;
text-align: center;
}

.about{
background: #18bc9c;
color: #fff;
padding-bottom: 50px;
}
.sub-about{
  padding-top: 50px;
}
.texto-about > p{
  text-align: center;
  display: inline-block;
  width: 40%;
  margin: auto;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding: 10px 20px;
}
.boton{
    text-align: center;
    margin: 30px 30px;
    border: solid 2px #fff;
    width: 25%;
    border-radius: 5px;
    padding: 5px;
}
.boton > a{
  text-decoration: none;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
.datos{
  width: auto;
}
.Datos-formato{
  text-align: center;
  margin: 5px;
}
.contact{
  padding: 50px 0;
  
}
