html, body {
  margin: 0;
  width: 100%;
}

.barra {
  position: fixed;
  top: 0px;
  background: #2c3e50;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

.container {
  width: 80%;
  margin: auto;
}

.titulo {
  float: left;
  margin-top: 15px;
}

.titulo-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 110%;
}

.menu {
  float: right;
}

.menu-list {
  margin-top: 15px;
}

.menu-item {
  display: inline-block;
  list-style: none;
  margin: 0px 5px;
}

.menu-link {
  color: #fff;
  text-decoration: none;
  font-size: 80%;
  font-weight: bold;
}

.perfil {
  background: #18bc9c;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  color: #fff;
}

.avatar {
  width: auto;
  display: flex;
  vertical-align: middle;
}

.avatar-img {
  margin: auto;
}

.titulo-central {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 300%;
  text-align: center;
  font-weight: 700;
}

.linea-estrella {
      margin: 25px 30%;
      border: none;
      border: solid 3px;
}

.subtitulo-central {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 110%;
}
