html, body {
  margin: 0;
  width: 100%;
}

.barra {
  position: fixed;
  top: 0px;
  background: #2c3e50;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

.container {
  width: 80%;
  margin: auto;
}

.titulo {
  float: left;
  margin-top: 15px;
}

/* metí los textos del menú en <a>, porque en algún momento se requerirá que sean links a otras ventanas, y para quitar la línea azul propia de un link he usado text-decoration:none */
.titulo-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 110%;
}

.menu {
  float: right;
}

.menu-list {
  margin-top: 15px;
}

/* list-style:none, es usado para quitar las viñetas que se ponen por default a una lista unordered */
.menu-item {
  display: inline-block;
  list-style: none;
  margin: 0px 5px;
}

.menu-link {
  color: #fff;
  text-decoration: none;
  font-size: 80%;
  font-weight: bold;
}

.perfil {
  background: #18bc9c;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  color: #fff;
}

/*Usando display:flex, se define el elemento como contenedor flexible y todos sus "hijos" como elementos flexibles.
El valor flex hace que el contenedor flexible sea un bloque dentro del elemento "padre" al que pertenezca.*/
.avatar {
  width: auto;
  display: flex;
  vertical-align: middle;
}

.avatar-img {
  margin: auto;
}

.titulo-central {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 300%;
  text-align: center;
  font-weight: 700;
}

.linea-estrella {
  margin: 25px 30%;
  border: none;
  border: solid 3px;
}

.subtitulo-central {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 110%;
}

.subtitulo-section {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 200%;
  text-align: center;
  font-weight: 700;
  margin: 30px auto 10px;
}

.portfolio {
  padding: 50px 0;
}

/* usando el 30% para cada columna, intento que las tres columnas se adapten al 100% de la clase "container" que en realidad es un 80% de la pantalla general. */
.images-portfolio {
  display: inline-block;
  width: 30%;
  margin: auto;
  padding: 5px;
}

.fila {
  display: block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.about {
  background: #18bc9c;
  color: #fff;
  padding-bottom: 50px;
}

.sub-about {
  padding-top: 50px;
}

.texto-about > p {
  display: inline-block;
  width: 40%;
  margin: 30px auto;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding: 10px 20px;
}

.boton {
  display: block;
  text-align: center;
  margin: 30px auto;
  border: solid 2px #fff;
  width: 25%;
  border-radius: 5px;
  padding: 5px;
}

.boton > a {
  text-decoration: none;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

/* tomando como cien por cineto, el ochenta del container */
.datos {
  width: 100%;
}

.Datos-formato {
  text-align: left;
  margin: 5px;
  font-family: 'Lato', sans-serif;
  color: #888e99;
  border-bottom: 1px solid #eee;
}

.Datos-formato>input {
  border: 0;
}

.contact {
  padding: 50px 0;
}

.boton-send {
  text-align: center;
  margin: 30px 30px;
  border: solid 2px #18bc9c;
  background: #18bc9c;
  width: 10%;
  border-radius: 5px;
  padding: 5px;
}

.boton-send>a {
  text-decoration: none;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.datos-finales {
  background: #2c3e50;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

.footer {
  display: flex;
}

.mini-container {
  display: inline-block;
  margin: 20px auto;
  width: 30%;
}

.titulo-datos-finales {
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  text-align: center;
}

.mini-container > p {
  color: #fff;
  text-align: center;
}

.circulos-iconos>.fa {
  color: #fff;
  display: inline-block;
  text-align: center;
  margin: 7px;
}

/* fue necesario hacer nuevos divs para cada <i>, que no modificara lo establecido en div iconos */

.circulos-iconos {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 3px;
}

.iconos {
  display: flex;
  justify-content: center;
}
